<?php
$dbms = 'phpbb\\db\\driver\\mysqli';
$dbhost = 'private-db-nga-do-user-247516-0.c.db.ondigitalocean.com';
$dbport = '25060';
$dbname = 'nga_forums';
$dbuser = 'forum';
$dbpasswd = '$FORUM_DB_PASSWORD';
$table_prefix = 'phpbb_';
$phpbb_adm_relative_path = 'adm/';
$acm_type = 'phpbb\\cache\\driver\\file';

@define('PHPBB_INSTALLED', true);
@define('PHPBB_ENVIRONMENT', 'production');
